 
.all-ticket--container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 175, 175, 0.5);
}

.succesful{
    color: #0D6630;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

.shop-ticket--container{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        background-color: white;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 80px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-ticket {
    color: black; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el texto */
    text-align: center;
}

.title-green{
    color: #0D6630;
}

.title-flex-drop{
    display: flex;
}

.imagengota{
    width: 100px;
    height: 90px;
}

.details-ticket{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.details-ticker--flex{
    display: flex;
}

.text-dateid{
    margin-right: 5px;
}

.ticket--contain{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.products-left--title{
    color: #0D6630;
    font-weight: bold;
}

.amount-right--title{
    color: #0D6630;
    font-weight: bold;
}

.ticket-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ticket-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cantidad{
    margin-bottom: 0px;
}

.equal-container{
    display: flex;
    gap: 5px;
}

.totaldropcoin{
    background-color: #0D6630;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.greenphrase{
    font-size: 12px;
    margin-bottom: 0;
    font-style: italic;
    color: #0D6630;
}

.seguimiento{
    margin-top: 5px;
}