.conoce-section--container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.conoce-section--container .conoce-backgroundimage {
    /* Estilos para la imagen de fondo */
    width: 100%;
    min-width: 320px;
    min-height: 700px;
    background-attachment: fixed;
    height: 50vh;
    background-image: url('../img/tiendaUsuarioimg/Give\ Me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} 

.conoce-section--container h2 {
    /* Estilos para el título */
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(12, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    white-space: nowrap;
}

.shop-section--container{
    width: 100%;
    height: 200px;

}

.shop-section--container{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contenedor-tienda{
    width: 50%;
    height: 100%;
    margin:  5px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.products.po1 {
    /* Estilos para el icono superpuesto */
    position: absolute;
    top: 70%; /* Ajusta según tu preferencia */
    left: 50%; /* Ajusta según tu preferencia */
    transform: translate(-50%, -50%);
    z-index: 2; /* Mayor z-index para superponerlo sobre el fondo */
}
/*
.products{
    display: grid;
    grid-template-rows: 90% 10%;
    gap: 5px;
}

.products button{
    width: 50%;
    height: 20px;
    margin: 0 auto;
    border-style: none;
    background-color: #0D6630;
    border-radius: 10px;
    color: white;

}

.products .po1{
    background-image: url('../img/indexImg/Taza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.products .po2{
    background-image: url('../img/indexImg/Taza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.products .po3{
    background-image: url('../img/indexImg/Taza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.products .po4{
    background-image: url('../img/indexImg/Taza.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

*/